body {
  background-color: rgb(85, 84, 84);
  color: white;
}

.titleBlock {
  text-align: center;
  border: 1px solid black;
}

.svgContainer {
  border: 1px solid black;
  width: 40rem;
  /* height: 40rem; */
  margin: 0 auto;
}

/*For color palette buttons */
#selectedColorArea {
  border: 1px solid black;
  text-align: center;
  padding: 0.5rem;
  top: 5rem;
  left: 2rem;
  position: absolute;
}

.colorSelectionArea {
  width: 40rem;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.colorBox {
  width: 6rem;
  height: 4rem;
  border: 1px solid black;
  margin: 1rem;
}

.extraBorder {
  border: 1px solid red;
  box-shadow: 0px 0px 15px red;
  transition: 0.25s;
}

#leftButtonsBackground {
  position: absolute;
  left: 0rem;
  top: 5rem;
  background-color: #ada9a9;
  height: 90vh;
  width: 18rem;
}

/*WORK BUTTONS SECTION*/
.workButtons {
  border: 1px solid black;
  width: 10rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 2rem;
  top: 15rem;
}

/*CREATE BUTTONS SECTION*/
.createButtons {
  border: 1px solid black;
  width: 10rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 2rem;
  top: 25rem;
}

/*SPECIAL BUTTON HELPER CLASSES*/
.enabled {
  background-color: #3a3939;
  color: white;
}

.notReady {
  background-color: #3a3939;
  color: rgb(124, 28, 28);
}

/*SVG COLORS*/

.color0 {
  color: #000000;
  background-color: #000000;
}

.color1 {
  color: #413f9e;
  background-color: #413f9e;
}

.color2 {
  color: #3f9e57;
  background-color: #3f9e57;
}

.color3 {
  color: #ca1c05;
  background-color: #ca1c05;
}

.color4 {
  color: #b9126e;
  background-color: #b9126e;
}

.color5 {
  color: #12b9ab;
  background-color: #12b9ab;
}

.color6 {
  color: #ffffff;
  background-color: #ffffff;
}
